* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.cadastro {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-direction: row;
}

/* Estilos para telas maiores */
.imagem-cadastro {
    flex: 1;
    background-image: url(../../images/background/todd-cravens-QnBrjY-nFUs-unsplash.jpg);
    background-size: cover;
    background-position: 300px 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

.imagem-cadastro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(62, 78, 98, 0.55);
    z-index: 2;
}

.imagem-cadastro h1, .imagem-cadastro p {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 3;
}

.imagem-cadastro h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    margin-bottom: 100px;
}

.imagem-cadastro p {
    font-size: 22px;
}

.formulario-cadastro {
    flex: 1;
    max-width: 600px;
    padding: 60px 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.formulario-cadastro h1 {
    font-size: 40px;
    color: #159631;
    margin-top: 30px;
    margin-bottom: 5%;
    width: 100%; /* Alinha à esquerda com os campos */
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
    padding-left: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.formulario-cadastro form label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #374B47;
    font-size: 1rem;
    font-weight: bold;
}

.formulario-cadastro input {
    width: 400px;
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}



.formulario-cadastro button {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #374B47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.formulario-cadastro button:hover {
    background-color: #159631;
}

.formulario-cadastro form a {
    color: #374B47;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.formulario-cadastro form a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* Inicialmente oculto */
    max-width: 400px; /* Limita a largura máxima ao tamanho do contêiner pai */
    word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
    margin-top: 1px;
    text-align: justify; /* Pequeno espaçamento superior para separar do input */
  }
  
  .form-group {
    margin-bottom: 5px;
  }

/* Estilos para telas menores - Responsividade */
@media screen and (max-width: 768px) {
    .cadastro {
        flex-direction: column; /* Faz com que a imagem fique acima do formulário */
    }

    .imagem-cadastro {
        order: -1;
        height: 50vh; /* Ajusta a altura da imagem para metade da viewport */
        flex: none;
        background-position: center -80px; /* Remove a proporção flexível */
    }

    .formulario-cadastro {
        flex: none; /* Remove a proporção flexível */
        padding: 40px 20px; /* Reduz o padding lateral */
        max-width: 100%; /* Ocupa toda a largura disponível */
    }

    .imagem-cadastro h1 {
        font-size: 2.5em; /* Reduz o tamanho da fonte */
    }
}

@media screen and (max-width: 480px) {
    .imagem-cadastro {
        height: 40vh; /* Diminui ainda mais a altura da imagem */
    }

    .imagem-cadastro h1 {
        font-size: 2em; /* Reduz ainda mais o tamanho da fonte */
        margin-bottom: 50px; /* Ajusta a margem inferior */
    }

    .imagem-cadastro p {
        font-size: 1rem; /* Ajusta o tamanho do texto */
    }

    .formulario-cadastro input,
    .formulario-cadastro textarea {
        width: 95%; /* Faz os campos ocuparem 100% da largura disponível */
    }

}
