


/* Footer */


/* Imagem ao lado do formulário */




.cadastro {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-cadastro {
  flex: 1.5; /* Aumenta o tamanho do formulário em relação à imagem */
  max-width: 600px; /* Limite de largura para evitar que fique muito grande */
  padding: 60px 40px; /* Aumenta o espaçamento interno */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
 /* Bordas arredondadas */
}

.formulario-cadastro h1 {
  font-size: 32px;
  margin-bottom: 24px;
  font-family: 'Josefin Sans', sans-serif;
}

.formulario-cadastro form label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #374B47;
  font-size: 1rem;
  font-weight: bold; /* Tamanho da fonte maior */
}

.formulario-cadastro input,
.formulario-cadastro textarea {
  width: 400px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; 
}

.formulario-cadastro textarea {
  resize: vertical;
  height: 100px;
}

.formulario-cadastro button {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  background-color: #374B47;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.formulario-cadastro button:hover {
  background-color: #2d4c3c;
}

.imagem-cadastro {
  position: relative; /* Certifique-se de que o posicionamento seja relativo ao contêiner */
  flex: 1;
  background-image: url(../../images/background/todd-cravens-QnBrjY-nFUs-unsplash.jpg);
  background-size: cover; /* Garante que a imagem cubra toda a seção */
  background-position: center center; /* Centraliza a imagem na seção */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  flex: 1;
  position: relative;
  display: flex; /* Permite centralizar o conteúdo */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  z-index: 1; /* Defina o z-index para baixo */
}

.imagem-cadastro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(62, 78, 98, 0.55); /* Overlay */
  z-index: 2; /* Apenas sobre a imagem de cadastro */
} 

.imagem-cadastro h1, .imagem-cadastro p {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 3; /* Garante que o texto fique acima do overlay */
} 

.imagem-cadastro h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  margin-bottom: 150px;
} 

.imagem-cadastro p {
  font-size: 1.2rem;
} 

#map {
  height: 100vh;
  width: 100%;
  background-color: rgb(194, 194, 194);
}

.metas-grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

/* Estilo dos Cards de Meta */
.meta-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  transition: transform 0.3s; /* Se precisar ajustar a cor do texto para maior contraste */
}

.meta-card h2, 
.meta-card p,
.meta-card a {
    position: relative; /* Garante que o texto e os links estejam acima da imagem de fundo */
    z-index: 2;
    word-wrap: break-word; /* Aumenta o nível do conteúdo sobre a imagem */
}

.meta-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(62, 78, 98, 0.7); /* Adiciona uma camada escura sobre a imagem para melhorar a legibilidade */
    z-index: 1; /* Mantém o background abaixo do conteúdo */
}

.meta-card a {
    display: inline-block;
    width: 60px;
    padding: 7px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.meta-card .status-realizada {
  color: green;
}

.meta-card .status-andamento {
  color: yellow;
}

.botoes-meta {
  display: flex;
  gap: 10px;
}

.meta-card #concluir {
  background-color: #159631;
  width: 20%;
  padding: 10px;
}

.meta-card #excluir {
  background-color: #a01212;
  width: 20%;
  padding: 10px;
}

.meta-card #editar {
  background-color: #0056b3;
  padding: 10px;
}

.meta-card #concluir:hover {
  background-color: #15c43a;
}

.meta-card #excluir:hover {
  background-color: #c71111;
}

.meta-card #editar:hover {
    background-color: #1479e4; /* Cor ao passar o mouse */
}

#titulo-pagina-meta {
  margin: 20px;
  color: #374B47;
}

.botao-criar-meta {
  margin: 20px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: #159631;
}

.botao-criar-meta:hover {
  background-color: #374B47;
}

.error-message {
  color: red;
  font-size: 0.9em;
  display: none; /* Inicialmente oculto */
  max-width: 400px; /* Limita a largura máxima ao tamanho do contêiner pai */
  word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
  margin-top: 5px;
  text-align: justify; /* Pequeno espaçamento superior para separar do input */
}

.form-group {
  margin-bottom: 15px;
}

#concluir {

}

/* Container principal da página de criação de evento */
.criar-evento-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção da imagem de evento */
/* Container da imagem do evento */
.evento-imagem {
  flex: 1;
  background-image: url(../../images/background/event-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evento-imagem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.evento-imagem h1, .evento-imagem p {
  position: relative;
  color: white;
  text-align: center;
  z-index: 2;
}

.evento-imagem h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 20px;
}

.evento-imagem p {
  font-size: 1.5rem;
}

/* Seção do formulário de evento */
.evento-form {
  flex: 1.5;
  max-width: 800px;
  padding: 50px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Formulário */
.form-evento {
  width: 100%; /* Ajusta para ocupar toda a largura disponível */
  max-width: 580px; /* Limita o tamanho do formulário */
}

/* Cabeçalho do formulário */
.evento-form h1 {
  font-size: 32px;
  margin-bottom: 24px;
  font-family: 'Josefin Sans', sans-serif;
  align-self: flex-start;
}

/* Labels e campos do formulário */
.evento-form form label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}

.evento-form input,
.evento-form textarea {
  width: 100%; /* Ajusta a largura para 100% do contêiner pai */
  max-width: 580px; /* Limita a largura máxima */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.evento-form textarea {
  resize: vertical;
  height: 100px;
}

/* Botão de envio */
.evento-form button {
  width: 100%; /* O botão ocupa toda a largura */
  max-width: 580px; /* Limita a largura máxima */
  padding: 14px;
  background-color: #374B47;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  align-self: center; /* Centraliza o botão com os inputs */
}

.evento-form button:hover {
  background-color: #2d4c3c;
}

/* Responsividade */
@media (max-width: 768px) {
  .evento-form {
    padding: 30px 20px;
  }

  .evento-imagem h1 {
    font-size: 2.5rem; /* Reduz o tamanho da fonte em telas menores */
  }

  .evento-imagem p {
    font-size: 1.2rem; /* Ajusta o tamanho do texto */
  }

  .evento-form h1 {
    font-size: 28px; /* Ajusta o título do formulário */
  }

  .evento-form input,
  .evento-form textarea,
  .evento-form button {
    max-width: 100%; /* Garante que ocupem toda a largura em telas pequenas */
  }
}

@media (max-width: 480px) {
  .evento-imagem h1 {
    font-size: 2rem; /* Reduz ainda mais em telas muito pequenas */
  }

  .evento-imagem p {
    font-size: 1rem;
  }

  .evento-form {
    padding: 20px 15px; /* Ajusta o padding para telas muito pequenas */
  }
}



